/* Global Styles */

h1 {
  font-size: 30px;
  color: #fff;
}
h2 {
  font-size: 26px;
  color: #fff;
}
h3 {
  font-size: 22px;
  color: #fff;
}
p {
  font-size: 18px;
  color: #fff;
  margin: 10px 5px;
}

.underline {
  height: 2px;
  width: 75%;
  justify-self: center;
  margin: -15px -5px 0 0;
  background-color: #45B6FE;
  border-radius: 1px;
}

.page-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky; top: 0;
  height: 60px;
  width: 100vw;
  gap: 10px;
  background-color: #333333;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Layout for the bunch of stuff in the header */
.logo a {
  padding: 0 30px;
  font-size: 28px;
  color: #fff;
  text-decoration: none;
}

.header-links-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 30px;
}

.header-button{
  position: relative;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 17px;
  color: #fff;
  background-color: #333333;
  cursor: pointer;
}

button:hover{
  color: #45B6FE;
  background-color: #333333;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-items {
  display: none;
  position: absolute;
  overflow: auto;
  width: 100%;
  background-color: #333333;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-items {
  display: block;
}

.dropdown-items a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
}

.dropdown-items a:hover {
  color: #45B6FE;
  background-color: #555555;
  border-radius: 5px;
}

.mobile-toggle {
  position: relative;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 17px;
  color: #fff;
  background-color: #333333;
  cursor: pointer;
  @media (min-width: 999px) {
    display: none;
  }
}

.mobile-dropdown {
  width: 100vw;
  height: 0;
  overflow: hidden;
  position: sticky; top: 60px;
  display: grid;
}

.show-mobile-dropdown {
  height: auto;
  background-color: #333333;
  @media (min-width: 999px) {
    display: none;
  }
}

.show-mobile-dropdown a {
  color: #fff;
  text-decoration: none;
  padding: 20px 50px;
}

.show-mobile-dropdown a:hover {
  background-color: #555555;
}

.mobile-links-subheader {
  padding: 10px 30px;
  font-size: 22px;
  color: #45B6FE;
}

.main-container {
  padding-top: 25px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: transparent;
}

#section-about { 
  display: block; 
  position: relative; 
  top: -80px; 
  visibility: hidden; 
}

#section-students { 
  display: block; 
  position: relative; 
  top: -70px; 
  visibility: hidden; 
}

/* introduction container, contains the about and link container */
.introduction-container {
  gap: 25px;
  border: none;
  border-radius: 15px;
  padding: 30px 30px;
  width: 85%;
  display: flex;
  justify-content: center;
  background-color: #333333;
}

.about-container {
  border: none;
  border-radius: 15px;
  padding: 10px 30px;
  justify-content: center;
  width: 65%;
  background-color: #555555;
}

.about-photo {
  display: block;
  border-radius: 0px;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.links-container {
  border: none;
  border-radius: 15px;
  padding: 10px 30px;
  justify-content: center;
  width: 30%;
  background-color: #555555;
}

/* sorting container, contains both button and filter container */
.sorting-container {
  border: none;
  border-radius: 15px;
  padding: 20px 30px;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: #333333;
}

.button-container {
  border: none;
  border-radius: 15px;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  gap: 10px;
  background-color: #333333;
}

.filter-button{
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 17px;
  color: #fff;
  background-color: #555555;
  cursor: pointer;
}

.filter-container {
  border: none;
  border-radius: 15px;
  padding: 30px 30px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #555555;
}

.single-character {
  border-style: solid;
  border-color: #fff;
  border-radius: 15px;
  padding: 10px 15px;
  width: 250px;
  height: auto;
}

.character-photo {
  display: block;
  border-radius: 20px;
  max-width: 90%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.character {
  font-size: 24px;
  color: #45B6FE;
  font-weight: 600;
}

.club {
  font-size: 17px;
  color: #fff;
  font-weight: 600;
}
.character-description {
  font-size: 17px;
  color: #fff;
}

/* closing container */
.closing-container {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100vw;
  gap: 10px;
  background-color: #333333
}

/* media queries for different screens */
@media (max-width: 1000px) {
  .header-links-container {
    display: none;
  }
  .introduction-container {
    flex-direction: column;
    align-items: center;
  }
  .about-container {
    width: 85%;
  }
  .links-container {
    width: 85%;
  }
}