/* Global Styles */

h1 {
  font-size: 30px;
  color: #fff;
}
h2 {
  font-size: 26px;
  color: #fff;
}
h3 {
  font-size: 18px;
  color: #fff;
}
p {
  font-size: 18px;
  color: #fff;
}

.underline {
  height: 2px;
  width: 75%;
  justify-self: center;
  margin: -15px -5px 0 0;
  background-color: #45B6FE;
  border-radius: 1px;
}

.page-header {
  display: flex;
  align-items: center;
  position: sticky; top: 0;
  height: 60px;
  gap: 10px;
  background-color: #333333;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Layout for the bunch of stuff in the header */

.logo {
  padding: 0 30px;
  font-size: 24px;
}

.header-button{
  position: relative;
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 17px;
  color: #fff;
  background-color: #333333;
  cursor: pointer;
}

button:hover{
  background-color: #333333;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-items {
  display: none;
  position: absolute;
  overflow: auto;
  width: 100%;
  background-color: #333333;
  border-radius: 5px;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-items {
  display: block;
}

.dropdown-items a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 20px 40px;
}

.dropdown-items a:hover {
  color: #fff;
  background-color: #555555;
  border-radius: 5px;
}

.main-container {
  padding-top: 25px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: transparent;
}

/* introduction container, contains the about and link container */
.introduction-container {
  gap: 15px;
  border: none;
  border-radius: 15px;
  padding: 30px 30px;
  width: 85%;
  display: flex;
  justify-content: center;
  background-color: #333333;
}

.about-container {
  border: none;
  border-radius: 15px;
  padding: 10px 30px;
  justify-content: center;
  width: 70%;
  background-color: #555555;
}

.links-container {
  border: none;
  border-radius: 15px;
  padding: 10px 30px;
  justify-content: center;
  width: 30%;
  background-color: #555555;
}

/* sorting container, contains both button and filter container */
.sorting-container {
  border: none;
  border-radius: 15px;
  padding: 20px 30px;
  width: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  background-color: #333333;
}

.button-container {
  border: none;
  border-radius: 15px;
  padding: 20px 30px;
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 10px;
  background-color: #333333;
}

.filter-button{
  border: none;
  border-radius: 5px;
  padding: 10px 30px;
  font-size: 17px;
  color: #fff;
  background-color: #555555;
  cursor: pointer;
}

.filter-container {
  border: none;
  border-radius: 15px;
  padding: 30px 30px;
  width: 90%;
  margin: 0 auto;
  gap: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #555555;
}

.single-character {
  border-style: solid;
  border-color: #fff;
  border-radius: 15px;
  padding: 10px 15px;
  width: 250px;
  height: auto;
}

/* closing container */
.closing-container {
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
  gap: 10px;
  background-color: #333333
}